<div class="estrellas">
    <i class="material-icons" *ngIf="puntuacion < 2">star_outline</i>
    <i class="material-icons" *ngIf="puntuacion >= 2">star</i>

    <i class="material-icons" *ngIf="puntuacion < 4">star_outline</i>
    <i class="material-icons" *ngIf="puntuacion >= 4">star</i>

    <i class="material-icons" *ngIf="puntuacion < 6">star_outline</i>
    <i class="material-icons" *ngIf="puntuacion >= 6">star</i>

    <i class="material-icons" *ngIf="puntuacion < 8">star_outline</i>
    <i class="material-icons" *ngIf="puntuacion >= 8">star</i>

    <i class="material-icons" *ngIf="puntuacion < 10">star_outline</i>
    <i class="material-icons" *ngIf="puntuacion === 10">star</i>
</div>