<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="material-icons">

</span>
      <span>App Peliculas</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" routerLink="/inicio" routerLinkActive="mat-accent">Inicio</button>
      <button mat-raised-button color="primary" routerLink="/peliculasList" routerLinkActive="mat-accent">Peliculas</button>
      <button mat-raised-button color="primary" routerLink="/seriesList" routerLinkActive="mat-accent">Series</button>
</mat-toolbar-row>
