.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.peliculas {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
}

.series {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
}
.image {
    border-radius: 10px;
}