

<div class="content">
    <mat-card class="example-card" *ngFor="let pelicula of peliculasData">
    <mat-card-header>
    </mat-card-header>
        <img mat-card-image src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ pelicula.poster_path }}">
    <mat-card-content>
        {{ pelicula.title }}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/pelicula" (click)="sendParams(pelicula.id, pelicula.title,pelicula.original_title)"> + info </button>
    </mat-card-actions>
    </mat-card>

    <button mat-raised-button color="accent" class="buttonMas">Cargar +</button>
   
</div>
